body {
  background-color: rgb(255,239,213);
  color: black;
  font-size:20px;
}

h1{
  font-size:3em;
  line-height:1em;
  color:red;
}

h2, h3{
  font-size:2.2em;
  line-height:1em;
  color:salmon;
}

h1, h2, h3{
  font-family: 'Hanalei Fill', cursive;
}

a{
  text-decoration:none;
}

a:hover{
  font-size:1em;
  text-decoration: underline;
  font-weight:bolder;
}

.container{
  margin: 0 auto;
  width:60%;
}

.card{
  background-color:white;
  border: 0.1em solid rgb(50,50,50);
  border-radius: 1em;
  box-shadow: 2px 2px 4px orange;
  text-align:center;
  margin-top:10px;
  margin-bottom:10px;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.list-inline {
  padding-left: 0px;
}

.img-round{
  border-radius:50%;
}

.img-rounded{
  border-radius:10px;
}

.img-goodsize{
  height:300px;
  width:277px;
}

.img-border{
  border:2px solid purple;
}

.txt-underline{
  text-decoration:underline;
}

.txt-green{
  font-color:green;
}

.txt-blue{
  font-color:blue;
}

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
    width: 70%;
  }
}
@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
    width: 50%px;
  }
}
@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
    width: 30%;
  }
}
